<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14286370379-echlkrv6jd11ep7341irajaf8anr3f1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14286370379-echlkrv6jd11ep7341irajaf8anr3f1i</string>
	<key>API_KEY</key>
	<string>AIzaSyDevBZ3RfwNtrqW7L2ICgmV8QkvoDDvNbc</string>
	<key>GCM_SENDER_ID</key>
	<string>14286370379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tytaniumdev.magicBracketSimulator</string>
	<key>PROJECT_ID</key>
	<string>magic-bracket-simulator</string>
	<key>STORAGE_BUCKET</key>
	<string>magic-bracket-simulator.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14286370379:ios:eb91598352257eef6d7fce</string>
	<key>DATABASE_URL</key>
	<string>https://magic-bracket-simulator-default-rtdb.firebaseio.com</string>
</dict>
</plist>