name: Auto Label PRs

on:
  pull_request_review:
    types: [submitted]

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  add-label:
    uses: TytaniumDev/.github/.github/workflows/automerge-label.yml@main
